# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
requests==2.31.0
python-dotenv==1.0.1
pandas==2.2.1
sqlalchemy==1.4.28
pymysql==1.1.0